**/node_modules/
**/dist/
**/build/
**/.vite/

**/package-lock.json

sentiment-backend/*.sqlite3
sentiment-backend/*.db
sentiment-backend/db.sqlite3

.idea/
.vscode/
*.code-workspace

**/__pycache__/

**/venv/
**/env/